.container {
    display: grid;
    grid-template-areas: 
    "header" "NavBar"
    "PersonalView" "FireHose" 
    "PersonalView" "FireHose" 
    ;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
}



.FireHose {
    
    grid-area: FireHose;

}

.PersonalView {
    background-color: #d9e6f2;
    
    
    overflow-y: scroll;
}